/* #region assets */

/* colors */
:root{
    --debug-bg-header:#add8e6;
    --debug-bg-title:#daa520;
    --debug-bg-navbar:#00008b;
    --debug-content-navbar:#ee82ee;
    --debug-bg-section:#ffffff;
    --debug-bg-section-reverse:#d3d3d3;
    --debug-primary:#1e90ff;
    --debug-secondary:#ffc0cb;
    --debug-tertiary:#228b22;
    --debug-bg-footer:#23272a;
    --debug-main-footer:#f08080;
    --debug-section-footer:#20b2aa;
    --debug-main-credits:#7fffd4;
    --debug-bg-logo-button:#ffb6c1;
    --bg-section-two:#f6f6f6;
    --download-btn-two:#8ea1e1;
    --text-footer:#7087d6;
    --bg-header:#255ee9;
}

/* generic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer{
    width: 70%;
    display: flex;
}

.section{
    height: 400px;
    margin: 4rem;
    
}

.supersection{
    
}

.jf-sb{
    justify-content: space-between;
}

.f-col{
    flex-direction: column;
    align-items: center;
}


/* #endregion assets */


/* #region debug */

/* debug header */
/* .debug-header{
    background-color: var(--debug-bg-header);
}

.debug-title-container{
    background-color: var(--debug-bg-title);
}

.debug-title-section{
    border: 1px dashed black;
} */

/* debug nav */
/* .debug-navbar{
    background-color: var(--debug-bg-navbar);
}

.debug-content-navbar{
    background-color: var(--debug-content-navbar);
    border:1px dashed black
} */

/* debug main */
/* .debug-osection{
    background-color: var(--debug-bg-section);
}

.debug-section-reverse{background-color: var(--debug-bg-section-reverse);}

.debug-articles{
    border: 1px dashed black;
}

.debug-primary{
    background-color: var(--debug-primary);
}

.debug-secondary{
    background-color: var(--debug-secondary);
}

.debug-supersection{
    background-color: var(--debug-bg-section-reverse);
}

.debug-superarticle{
    background-color: var(--debug-tertiary);
} */

/* debug footer */
/* .debug-mainfooter{
    background-color: var(--debug-bg-footer);
}

.debug-footer-primary{
    background-color: var(--debug-main-footer);
}

.debug-footer-secondary{
    background-color: var(--debug-section-footer);
}

.debug-credits-container{
    background-color: var(--debug-bg-footer);
    border-top: 1px solid white;
}

.debug-credits-sub{
    background-color: var(--debug-main-credits);
}

.debug-footer-logo{
    background-color: var(--debug-bg-logo-button);
    border: 1px dashed black;
} */

/* #endregion debug */

/* #region header */

.title{
position: sticky;
top: 0;
background-color: var(--bg-header);
color: white;
padding: 20px;

}

.title-region , .credits-sub{
    height: 70%;
}

.title-section{
    display: flex;
    align-items: center;
}

.title-logo{
    flex-grow: 1;
    justify-content: flex-start;
}

.title-links{
    flex-grow: 2;
    justify-content: space-evenly;
}

.title-login{
    flex-grow: 1;
    justify-content: flex-end;
}

.title-links>a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.title-login>button{
    background-color: white;
    font-size: 16px;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

/* #endregion debug */

/* #region nav */

#section-nav{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    min-height: 400px;
}

.content-navbar{
    width: 60%;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.content-navbar>h1{
    font-size: 40px;
    margin-bottom: 2rem;
}

.content-navbar>p{
    font-size: 1.35rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    text-align: center;
}

.btns-nav{
    
}

.btns-nav>button{
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    display: inline;
    padding: 10px 25px 10px 25px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn-nav-white{
    background-color: white;
    color: black;
    border: 1px solid white;
}

.btn-nav-black{
    background-color: var(--debug-bg-footer);
    color: white;
    border: 1px solid var(--debug-bg-footer);
}

/* #endregion nav */

/* #region main */

#art2{
    
}

.reverse{
    background-color: var(--bg-section-two);
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.articles{
    height: 90%;
    display: flex;
}

.artprimary{
    flex-grow: 3;
    height: 100%;
}

.artprimary>img{
    max-height: 100%;
}

.artsecondary {
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.artsecondary>h2{
    font-size: 40px;
}

.artsecondary>p{
    font-size: 1.35rem;
}

.subcontainer>h2{
    font-size: 40px;
    margin-bottom: 1rem;
}

.subcontainer>p{
    line-height: 2rem;
    font-size: 1.35rem;
    text-align: center;
}

.subcontainer>img{
    max-width: 100%;
    margin-bottom: 3rem;
}

.subcontainer>h3{
    font-size: 36px;
    background-image: url(./img/stars.svg);
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.subcontainer>button{
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    display: inline;
    padding: 10px 25px 10px 25px;
    background-color: var(--download-btn-two);
    border: 1px solid var(--download-btn-two);
    color: white;
}

/* #endregion main */

/* #region footer */

.footer-artprimary{
    height: 100%;
    flex-grow: 2;
}

.footer-artsecondary{
    height: 100%;
    flex-grow: 1;
}

.credits-container{
    height: 60px;
    align-items: flex-end;
}

.credits-sub{
    align-items: center;
    justify-content: space-between;
}

.footer-logo{
    height: 50%;
}

.footer-btn{
    cursor: pointer;
}

/* #endregion footer */